# Dependencies
node_modules

# Next.js
.next/
out/
next-env.d.ts
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# dotenv environment variables file
.env
.env.*
!.env.example

.cache
.eslintcache

.idea
.vscode
.DS_Store
